{% include "header.html" %}
<body>
<!-- Page Header-->
<header
        class="masthead"
        style="background-image: url('../static/assets/img/gallery.jpg.png')"
>
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="page-heading">
                    {% if h1_entry %}
                    <h1>{{ h1_entry }}</h1>
                    {% else %}
                    <h1>Gallery</h1>
                    <span class="subheading">Here are some of the out-takes.</span>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</header>
<div class="lightbox">
    <div class="row">
        <div class="col-lg-6">
            <div class="blurer">
                <img
                        src="static/assets/img/kartic.jpeg"
                        data-mdb-img="https://mdbcdn.b-cdn.net/img/Photos/Slides/1.webp"
                        alt="Table Full of Spices"
                        class="w-100 mb-2 mb-md-4 shadow-1-strong rounded"
                />
            </div>
            <div class="blurer">
                <img
                        src="static/assets/img/kbbceastmids.jpeg"
                        data-mdb-img="https://mdbcdn.b-cdn.net/img/Photos/Square/1.webp"
                        alt="Coconut with Strawberries"
                        class="w-100 shadow-1-strong rounded"
                />
            </div>
        </div>

        <div class="col-lg-6">
            <div class="blurer">

                <img
                        src="static/assets/img/ksingapore.JPG"
                        data-mdb-img="https://mdbcdn.b-cdn.net/img/Photos/Vertical/1.webp"
                        alt="Dark Roast Iced Coffee"
                        class="w-100 shadow-1-strong rounded"
                />
            </div>
        </div>
    </div>
</div>
<!-- Gallery -->

<!-- Carousel wrapper -->
<!-- Modal gallery -->
<!-- Carousel wrapper -->

<!--<div-->
<!--        id="carouselVideoExample"-->
<!--        class="carousel slide carousel-fade"-->
<!--        data-mdb-ride="carousel"-->
<!--        style="padding-bottom: 50px;">-->
<!--&gt;-->
<!--    &lt;!&ndash; Indicators &ndash;&gt;-->
<!--    <div class="carousel-indicators" >-->
<!--        <button-->
<!--                type="button"-->
<!--                data-mdb-target="#carouselVideoExample"-->
<!--                data-mdb-slide-to="0"-->
<!--                class="active"-->
<!--                aria-current="true"-->
<!--                aria-label="Slide 1"-->
<!--        ></button>-->
<!--        <button-->
<!--                type="button"-->
<!--                data-mdb-target="https://mdbcdn.b-cdn.net/img/video/forest.mp4"-->
<!--                data-mdb-slide-to="1"-->
<!--                aria-label="Slide 2"-->
<!--        ></button>-->
<!--        <button-->
<!--                type="button"-->
<!--                data-mdb-target="#carouselVideoExample"-->
<!--                data-mdb-slide-to="2"-->
<!--                aria-label="Slide 3"-->
<!--        ></button>-->
<!--    </div>-->

<!--    &lt;!&ndash; Inner &ndash;&gt;-->
<!--    <div class="carousel-inner">-->
<!--        &lt;!&ndash; Single item &ndash;&gt;-->
<!--        <div class="carousel-item active">-->
<!--            <video class="img-fluid" autoplay loop muted>-->
<!--                <source src="static/assets/img/IMG_1803.MOV" type="video/mp4" />-->
<!--            </video>-->
<!--            <div class="carousel-caption d-none d-md-block">-->
<!--                <h5>First slide label</h5>-->
<!--                <p>-->
<!--                    Nulla vitae elit libero, a pharetra augue mollis interdum.-->
<!--                </p>-->
<!--            </div>-->
<!--        </div>-->

<!--        &lt;!&ndash; Single item &ndash;&gt;-->
<!--        <div class="carousel-item">-->
<!--            <video class="img-fluid" autoplay loop muted>-->
<!--                <source src="https://mdbcdn.b-cdn.net/img/video/forest.mp4" type="video/mp4" />-->
<!--            </video>-->
<!--            <div class="carousel-caption d-none d-md-block">-->
<!--                <h5>Second slide label</h5>-->
<!--                <p>-->
<!--                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.-->
<!--                </p>-->
<!--            </div>-->
<!--        </div>-->

<!--        &lt;!&ndash; Single item &ndash;&gt;-->
<!--        <div class="carousel-item">-->
<!--            <video class="img-fluid" autoplay loop muted>-->
<!--                <source-->
<!--                        src="https://mdbcdn.b-cdn.net/img/video/Agua-natural.mp4"-->
<!--                        type="video/mp4"-->
<!--                />-->
<!--            </video>-->
<!--            <div class="carousel-caption d-none d-md-block">-->
<!--                <h5>Third slide label</h5>-->
<!--                <p>-->
<!--                    Praesent commodo cursus magna, vel scelerisque nisl consectetur.-->
<!--                </p>-->
<!--            </div>-->
<!--        </div>-->
    </div>
    <!-- Inner -->

    <!-- Controls -->
    <button
            class="carousel-control-prev"
            type="button"
            data-mdb-target="#carouselVideoExample"
            data-mdb-slide="prev"
    >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button
            class="carousel-control-next"
            type="button"
            data-mdb-target="#carouselVideoExample"
            data-mdb-slide="next"
    >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
<div class="lightbox">
    <div class="row">
        <div class="col-lg-6">
            <div class="blurer">
                <img
                        src="static/assets/img/centralnews.jpeg"
                        data-mdb-img="https://mdbcdn.b-cdn.net/img/Photos/Slides/1.webp"
                        alt="Table Full of Spices"
                        class="w-100 mb-2 mb-md-4 shadow-1-strong rounded"
                />
            </div>
            <div class="blurer">
                <img
                        src="static/assets/img/getgone.jpg"
                        data-mdb-img="https://mdbcdn.b-cdn.net/img/Photos/Square/1.webp"
                        alt="Coconut with Strawberries"
                        class="w-100 shadow-1-strong rounded"
                />
            </div>
        </div>

        <div class="col-lg-6">
            <div class="blurer">

                <img
                        src="static/assets/img/ksingapore2.JPG"
                        data-mdb-img="https://mdbcdn.b-cdn.net/img/Photos/Vertical/1.webp"
                        alt="Dark Roast Iced Coffee"
                        class="w-100 shadow-1-strong rounded"
                />
            </div>
        </div>
    </div>
</div>

<script>
    const portfolioItems = document.querySelectorAll('.blurer');

    portfolioItems.forEach(portfolioItem => {
      portfolioItem.addEventListener('mouseover', () => {
        console.log(portfolioItem.childNodes[1].classList)
        portfolioItem.childNodes[1].classList.add('image-blur');
      });

      portfolioItem.addEventListener('mouseout', () => {
        console.log(portfolioItem.childNodes[1].classList)
        portfolioItem.childNodes[1].classList.remove('image-blur');
      });
    });

 </script>

</html>
{% include "footer.html" %}