{% include "header.html" %}
<body>
<!-- Page Header-->
<header
        class="masthead"
        style="background-image: url('../static/assets/img/gallery.jpg.png')"
>
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="page-heading">
                    {% if h1_entry %}
                    <h1>{{ h1_entry }}</h1>
                    {% else %}
                    <h1>Gallery</h1>
                    <span class="subheading">Here are some of the out-takes.</span>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</header>
<div class="lightbox">
    <div class="row">
        <div class="col-lg-6">
            <div class="blurer">
                <img
                        src="static/assets/img/kartic.jpeg"
                        data-mdb-img="https://mdbcdn.b-cdn.net/img/Photos/Slides/1.webp"
                        alt="Table Full of Spices"
                        class="w-100 mb-2 mb-md-4 shadow-1-strong rounded"
                />
            </div>
            <div class="blurer">
                <img
                        src="static/assets/img/kbbceastmids.jpeg"
                        data-mdb-img="https://mdbcdn.b-cdn.net/img/Photos/Square/1.webp"
                        alt="Coconut with Strawberries"
                        class="w-100 shadow-1-strong rounded"
                />
            </div>
        </div>

        <div class="col-lg-6">
            <div class="blurer">

                <img
                        src="static/assets/img/ksingapore.JPG"
                        data-mdb-img="https://mdbcdn.b-cdn.net/img/Photos/Vertical/1.webp"
                        alt="Dark Roast Iced Coffee"
                        class="w-100 shadow-1-strong rounded"
                />
            </div>
        </div>
    </div>
</div>

<div class="lightbox">
    <div class="row">
        <div class="col-lg-6">
            <div class="blurer">
                <img
                        src="static/assets/img/centralnews.jpeg"
                        data-mdb-img="https://mdbcdn.b-cdn.net/img/Photos/Slides/1.webp"
                        alt="Table Full of Spices"
                        class="w-100 mb-2 mb-md-4 shadow-1-strong rounded"
                />
            </div>
            <div class="blurer">
                <img
                        src="static/assets/img/getgone.jpg"
                        data-mdb-img="https://mdbcdn.b-cdn.net/img/Photos/Square/1.webp"
                        alt="Coconut with Strawberries"
                        class="w-100 shadow-1-strong rounded"
                />
            </div>
        </div>

        <div class="col-lg-6">
            <div class="blurer">

                <img
                        src="static/assets/img/ksingapore2.JPG"
                        data-mdb-img="https://mdbcdn.b-cdn.net/img/Photos/Vertical/1.webp"
                        alt="Dark Roast Iced Coffee"
                        class="w-100 shadow-1-strong rounded"
                />
            </div>
        </div>
    </div>
</div>

<script>
    const portfolioItems = document.querySelectorAll('.blurer');

    portfolioItems.forEach(portfolioItem => {
      portfolioItem.addEventListener('mouseover', () => {
        console.log(portfolioItem.childNodes[1].classList)
        portfolioItem.childNodes[1].classList.add('image-blur');
      });

      portfolioItem.addEventListener('mouseout', () => {
        console.log(portfolioItem.childNodes[1].classList)
        portfolioItem.childNodes[1].classList.remove('image-blur');
      });
    });

 </script>

</html>
{% include "footer.html" %}